@(contractId: Long, attachments: Seq[Attachment], mode: String = "view", containerType: String = "div", showHeading: Boolean = true)

<@containerType class="attachments">
	@if(attachments.length == 0) {
		<p>No attachments</p>
	} else {
		<h3>Attachments</h3>
		<ul>
			@attachments.map{ attachment =>
				<li><a href="@routes.Attachments.view(attachment.companyName, attachment.vendorContractId, attachment.fileName)" target="_new">@attachment.fileName</a>
					<a onClick="return confirmDelete()" href="@routes.Attachments.delete(contractId, attachment.companyName, attachment.vendorContractId, attachment.fileName, mode)">delete</a>
				</li>
			}
		</ul>
	}
</@containerType>
