@(id: Long, contractForm: Form[Contract], errorMessage: Option[String] = None)

@import helper._
@import helper.twitterBootstrap._

@*@title = {
	Edit a contract
}*@


@main("Edit contract", "Edit a contract", "contracts") {

	@if(errorMessage != None) {
		<div class="error-message">@errorMessage</div>
	}

	@form_html(contractForm, 
	routes.Contracts.update(id), 
	cancelAction = Some(routes.Contracts.all), 
	uploadAction = Some(routes.Attachments.upload(contractForm.get.contractId)),
	formLegend = "Edit a contract", 
	submitButtonName = "Update")

}
