@(contracts: List[Contract], filterForm: Form[ContractFilter])

@import helper._

@main("Contracts", "Contracts", "Contracts") {

	<!--table class="contract_list"-->
	<!--table class="sortable"-->
	<table class="contract_list" id="contracts">
		<thead>
		<tr>
			<th class="contract_id">Contract Id</td>
			<th>Name</th>
			<!--th class="contract_name">Name</th-->
			<th class="cost {'sorter':'cost'}">MRC</th>
			<th class="cost {'sorter':'cost'}">NRC</th>
			<th class="location_code">Locations</th>
			<th class="days_to_cancellation">Cancel in</th>
			<th class="links {sorter: false}"></th>
		</tr>
	</thead>
	<tbody>

		@contracts.map { contract =>
				@defining(contract.status.name) { status => 

				<tr class="@status">
				<td class="contract_id">@contract.contractId</td>
				<td>@contract.name</td>
				<td>@contract.mrc<br/>@Currency.stringById(contract.currencyId)</td>
				<td>@contract.nrc<br/>@Currency.stringById(contract.currencyId)</td>
				<td>@contract.aEnd.code<br/>@contract.zEnd.code</td>
				<td class="days-to-cancel">
					@if(contract.status != CANCELLED) { 
					@contract.daysUntilCancellationDate 
					} 
				</td>
				<td class="contract-links"> 
					<a href="@routes.Contracts.view(contract.id.get)">View</a>
					<a href="@routes.Contracts.edit(contract.id.get)">Edit</a>
					@form(routes.Contracts.delete(contract.id.get)) {
						<input type="submit" value="Delete">
					}
				</td>
			</tr>
			}
		}
	</tbody>
	</table>

	<p>

	@filter_form(filterForm)

	<p>

	<a href="@routes.Contracts.create">Add a new contract</a>

	<script type="text/javascript">
		$.tablesorter.addParser({
			id: 'cost',
			is: function(s) { return false; },
			format: function(s) { 
				return(s.replace(/[A-z]+/, ""));
			},
			type: 'numeric'
		});
		$(function() {
      $("#contracts").tablesorter()({
				headers: {
					3: { sorter: 'cost' },
					4: { sorter: 'cost' }
				}
			});
		});
			
		$(document).ready(function() { 
        $("#contracts").tablesorter();
		});
	</script>

}
