@(contract: Contract, title: String, heading: String)

@main(title, title, nav="Contract") {

	@heading

	<ul>
		<li>Company: @Company.nameById(contract.companyId)</li>
		<li>Contract id: @contract.contractId</li>
		<li>Name: @contract.name</li>
		<li>Description: @contract.description</li>
		<li>MRC: @contract.mrc @Currency.stringById(contract.currencyId)</li>
		<li>NRC: @contract.nrc @Currency.stringById(contract.currencyId)</li>
		<li>A end: @Location.asString(contract.aEndId)</li>
		<li>Z end: @Location.asString(contract.zEndId)</li>
		<li>Start date: @contract.startDate</li>
		<li>Term: @contract.term @contract.termUnits.asString(contract.term)</li>
		<li>CancellationPeriod: @contract.cancellationPeriod @contract.cancellationPeriodUnits.asString(contract.cancellationPeriod)</li>
		<li>Last modified by @contract.lastModifyingUser at @contract.lastModifiedTime</li>
	</ul>

	<a href="@routes.Contracts.contracts">Back to the list of contracts</a>
}
