@(contract: Contract, title: String, heading: String)

@main(title, title, nav="Contract") {

	@heading

	<ul>
		<li>Company: @Company.nameById(contract.companyId)</li>
		<li>Contract id: @contract.contractId</li>
		<li>Name: @contract.name</li>
		<li>Description: @contract.description</li>
		<li>MRC: @contract.mrc</li>
		<li>NRC: @contract.nrc</li>
		<li>A end: @contract.aEndId</li>
		<li>Z end: @contract.zEndId</li>
		<li>Term: @contract.term @contract.termUnits</li>
		<li>CancellationPeriod: @contract.cancellationPeriod @contract.cancellationPeriodUnits</li>
		<li>ReminderPeriod: @contract.reminderPeriod @contract.reminderPeriodUnits</li>
		<li>Last modified by @contract.lastModifyingUser at @contract.lastModifiedTime</li>
	</ul>

	<a href="@routes.Contracts.contracts">Back to the list of contracts</a>
}
