@(contract: Contract, title: String, heading: String, errorMessage: Option[String] = None)

@import helper._

@main(title, title, nav="contracts") {

	<div class="contract-view-container">

		@if(errorMessage != None) {
			<div class="error-message">@errorMessage</div>
		}

		@defining(contract.status) { cs => 
			@cs match {

				case models.CANCELLED => {
					<p>Contract was cancelled on @contract.cancelledDate</p>
				}
				case TOOLATE => {
					@notice(contract.status) {
						The cancellation date @contract.cancellationDate has passed.
					}
				}
				case _ => {
					@notice(contract.status) {
						<p>Contract ends in @contract.term.periodUntilTermEndString(contract.startDate), on @contract.lastDay()</p>
						<p>Contract must be cancelled by @contract.cancellationDate, @contract.daysUntilCancellationDate days from now.</p>
					}
				}
			}
		}

		@if(contract.attention != None) {
			<div class="attention">Attention: @contract.attention</div>
		}

		<div class="data_table">
			<table id="contract_summary">
				<tbody>
					<tr><td>Company</td><td>@Company.nameById(contract.companyId)</td></tr>
					<tr><td>Vendor contract id</td><td>@contract.vendorContractId</td></tr>
					<tr><td>Billing account</td><td>@contract.billingAccount</td></tr>
					<tr><td>Name</td><td>@contract.name</td></tr>
					<tr><td>Description</td><td>@contract.description</td></tr>
					<tr><td>Contract type</td><td>@contract.contractType.name</td></tr>
					<tr><td>A end</td><td>@contract.aEnd.longString</td></tr>
					<tr><td>Z end</td><td>@contract.zEnd.longString</td></tr>
					<tr><td>MSA</td><td>@{
						if (contract.isMSA) "This is an MSA"
						else if (contract.MSAId == None) "No MSA"
						else {
							val msaId = contract.MSAId.get
							val msaName = Contract.nameById(msaId).get
							if (msaName == None) "Bad MSA - no MSA for Id " + msaId
							else new Html("<a href=\"" + routes.Contracts.view(msaId) + "\">" + msaName + "</a>")
							}
							}</td></tr>
					<tr><td class="blank-line"></td><td class="blank-line"></td>
					<tr><td>MRC</td><td>@contract.mrc @Currency.stringById(contract.currencyId)</td></tr>
					<tr><td>NRC</td><td>@contract.nrc @Currency.stringById(contract.currencyId)</td></tr>
					<tr><td>Budget</td><td>@contract.budget.name</td></tr>
					<tr><td class="blank-line"></td><td class="blank-line"></td>
					<tr><td>Start date</td><td>@contract.startDate</td></tr>
					<tr><td>Term</td><td>@contract.term (ending @contract.lastDay)</td></tr>
					<tr><td>Cancellation Period</td><td>@contract.cancellationPeriod</td></tr>
					<tr><td class="blank-line"></td><td class="blank-line"></td>
					<tr><td>Status</td><td>@contract.status.name</td></tr>
					<tr><td>Last modified by</td><td>@contract.lastModifyingUser</td></tr>
					<tr><td>Last modified on</td><td>@contract.lastModifiedTime</td></tr>
				</tbody>
			</table>
		</div>

	</div>
			<ul id="edit_controls">
					<li><a href="@routes.Contracts.edit(contract.id.get)">Edit</a></li>
					<li id="delete"><a onClick="return confirm('Are you sure you want to delete?'
						@if(Attachment.getContractAttachments(contract.companyId, contract.vendorContractId).length > 0) {
						+ '\n\nTHIS WILL DELETE ALL ATTACHMENTS, TOO!'
						}
						)" href="@routes.Contracts.delete(contract.id.get)">Delete</a></li>
			</ul>


	<a name="attachments" />
	@attachment_list(contract.id.get, contract.attachments)

	@uploader(contract.companyId, contract.vendorContractId, Some(routes.Attachments.upload(contract.companyId, contract.vendorContractId)))

	<p>
		<a href="@routes.Contracts.all">Back to the list of contracts</a>
	</p>
}
