@(persons: List[Person], personForm: Form[(String, String, Option[String], Long)])

@import helper._

@main("People", "People", "people") {

	@if(persons.isEmpty) {
		<h3>No people.</h3>
	} else {
		<table class="persons">
			<tr>
				<th class="name">Name</th>
				<th class="inner_display_column email">Email</th>
				<th class="inner_display_column telephone">Telephone</th>
				<th class="inner_display_column company">Company
				<th><th>
			</tr>
			@persons.map { person =>
				<tr>
					<td class="name"> @person.name</td>
					<td class="inner_display_column email">@person.email</td>
					<td class="inner_display_column telephone">@person.telephone</td>
					<td class="inner_display_column company"><a href="@routes.Companies.edit(person.companyId)">@Company.nameById(person.companyId)</a></td>
					<td><a class="edit_link" href="@routes.Persons.edit(person.id)">edit</a>
						<a onClick="return confirmDelete()" class="delete_link" href="@routes.Persons.delete(person.id)">delete</a></td>
				</tr>
			}
		</table>
	}

	@form_html(personForm, routes.Persons.create, formLegend = "Create a new person", 
		submitButtonName = "Create")

}
