@(formWithData: Form[String], 
	formAction: Call, 
	cancelAction: Option[Call] = None, 
	formLegend: String, 
	submitButtonName: String = "Insert")

@import helper._

	@if(formWithData.hasErrors) {
		<div class="alert-message error">
			<p>Please fix all errors</p>
		</dev>
	}

	@form(action=formAction, 'class -> "form") {

		<fieldset>
			<legend>@formLegend</legend>

			@inputText(formWithData("abbreviation"), '_class -> "form", 
			'_label -> "New currency abbreviation", 
			'_showConstraints -> false, 'size -> 3, 'maxlength -> 3)

		</fieldset>

		<div class="actions">
			<input type="submit" class="btn primary" value="@submitButtonName">
			@if(cancelAction != None) {
			<a href="@cancelAction" class="btn">Cancel</a>
			}
		</div>

	}
