@(currencies: List[Currency], currencyForm: Form[String])

@import helper._

@main("Currencies", "Currencies", "Settings") {

	@if(currencies.isEmpty) {
		<h3>No currencies.</h3>
	} else {
		<ul>
			@currencies.map { currency =>
				<li>
					@currency.abbreviation <a class="edit_link" href="@routes.Currencies.edit(currency.id)">edit</a>
					<a class="delete_link" href="@routes.Currencies.delete(currency.id)">delete</a>
				</li>
			}
		</ul>
	}

	@form_html(currencyForm, routes.Currencies.create, formLegend = "Create a new currency",
		submitButtonName = "Create")

}
