@(currencies: List[Currency], currencyForm: Form[String])

@import helper._

@main("Currencies", "Currencies", "settings") {

	@if(currencies.isEmpty) {
		<h3>No contract types.</h3>
	} else {
		<table class="currencies">
			<tr>
				<th class="currency_abbreviation">Name</th>
				<th><th>
			</tr>
			@currencies.map { currency =>
				<tr>
					<td class="currency_abbreviation"> @currency.abbreviation</td>
					<td>
						<a class="edit_link" href="@routes.Currencies.edit(currency.id)">edit</a>
						<a onClick="return confirmDelete()" class="delete_link" href="@routes.Currencies.delete(currency.id)">delete</a>
					</td>
				</tr>
			}
		</table>
	}


	@form_html(currencyForm, routes.Currencies.create, formLegend = "Create a new currency",
		submitButtonName = "Create")

}
