@(budgets: List[Budget], budgetForm: Form[Budget], error: Option[String])

@main("budgets", "budgets", "settings") {

	@error.map { errorString =>
		<div class="error-message">
			<p>@errorString</p>
		</div>
	}

	@if(budgets.isEmpty) {
		<h3>No budgets.</h3>
	} else {
		<table class="budgets">
			<tr>
				<th class="budget_name">Name</th>
				<th><th>
			</tr>
			@budgets.map { budget =>
				<tr>
					<td class="budget_name"> @budget.name</td>
					<td><a class="edit_link" href="@routes.Budgets.edit(budget.id.get)">edit</a>
					<a onClick="return confirmDelete()" class="delete_link" href="@routes.Budgets.delete(budget.id.get)">delete</a></td>
				</tr>
			}
		</table>
	}

  @form_html(budgetForm, routes.Budgets.create, formLegend = "Create a new budget")

}
