@(locations: List[Location], locationForm: Form[(String, String, Option[String])])

@import helper._

@main("Locations", "Locations", "Settings") {

	@if(locations.isEmpty) {
	<h3>No locations.</h3>
	} else {
	<table class="locations">
		<tr>
			<th class="location_code">Code</th>
			<th class="inner_display_column">Description</th>
			<th class="inner_display_column address">Address</th>
			<th><th>
				</tr>
				@locations.map { location =>
				<tr>
					<td class="location_code"> @location.code</td>
					<td class="inner_display_column">@location.description</td>
					<td class="inner_display_column address">@location.address</td>
					<td><a class="edit_link" href="@routes.Locations.edit(location.id)">edit</a>
						<a onClick="return confirmDelete()" class="delete_link" href="@routes.Locations.delete(location.id)">delete</a></td>
				</tr>
				}
			</table>
			}

			@form_html(locationForm, routes.Locations.create, formLegend = "Create a new location",
				submitButtonName = "Create")


}
