@import "table.less";

body 
{
	font-family: 'Droids Sans', sans-serif;
}

h1, h2, h3, h4
{
	font-family: 'Droid Serif', serif;
}

#container
{
	margin: 0 30px;
	background: #fff;
}

#header
{
	background: white;
	padding: 20px;
	height: 50px;
}

#header_logo
{
}

#header_image
{
	position: absolute;
	top: 15px;
	right: 400px;
	z-index: 1;
}

#header_text
{
	float: right;
	text-align: right;	
	z-index: 10;
}

#header h1 { margin: 0; font-size: 1.85em }

#page_heading 
{
}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

a.delete_link {
	margin-left: 20px;
}

form.form
{
	border: 2px double lightgray;
	padding: 15px;
	width: 60%;
}

form.form h2 { 
	color: red;
}

dl.form
{
	margin: 0 0 10px 0;
}

dl.form dt
{
	float: left;
	clear: left;
	text-align: right;
	font-weight: bold;
	margin-right: 15px;
}

#settingsnav ul { margin: 0; padding: 0; }

#settingsnav ul li
{
	list-style-type: none;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content
{
	clear: left;
	padding: 20px;
}

#content h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#footer
{
	background: #ccc;
	text-align: right;
	padding: 7px;
}

table.locations { padding-bottom: 20px;}


th.inner_display_column,td.inner_display_column { 
	text-align: left; 
	padding: 5px;
}

table.contract_list
{
	border: 1px solid gray;
}

table.contract_list th
{
	color: white;
	background-color: gray;
}

table.contract_list .contract_id
{
	width: 6em;
	background-color: lightgray;
}

table.contract_list th.contract_id
{
	background-color: gray;
}

table.contract_list th.contract_name { width: 12em; }

table.contract_list th.cost { width: 4em; }
table.contract_list th.currency { width: 3em; }
table.contract_list th.location_code { width: 6em; }
table.contract_list th.links { width: 5em; }

form.form { margin-top: 20px; }

.far-warning { padding: 5px; color: DarkOrange; font-weight: bold; }

.near-warning { padding: 5px; background-color: Red; color: black; }

.too-late { 
	border: 15px solid black; 
	padding: 5px;
	background:
	linear-gradient(315deg, #ECEDDC 25%, transparent 25%) -50px 0,
	linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
	linear-gradient(135deg, #ECEDDC 25%, transparent 25%),
	linear-gradient(45deg, #ECEDDC 25%, transparent 25%);	
	background-size: 100px 100px;
	background-color: #EC173A;

}

// Form actions
div.actions {
	margin-top: 20px;
}
