// THIS should not be necessary because it is defined in the main file.
@table_highlight: #E8DABA;
//@table_highlight: #FDF7D7;
.heading-font {
	font-family: 'Droids Sans', sans-serif;
}

.text-font {
	font-family: 'Droid Serif', serif;
}

/** End of stuff that should be inherited from main **/

/******** GENERAL DEFINES ************/
a.edit_link {
	margin-left: 15px;
}

.bordered_lines {
	border-bottom: 1px solid gray
}

.inner_column {
	text-align: left; 
	padding: 5px;
}

.hilight_column {
	background: @table_highlight;
	padding: 0 20px;
}


.basic_table { 
	
	padding-bottom: 20px;
	
	th, td {
		.bordered_lines;
	}

	.inner_display_column { 
		.inner_column;
	}

}


.too-late-background {
	background-color: lightblue;
	background-image: -repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

/******** LOCATIONS ************/
table.locations { 
	
	.basic_table;
	
	.location_code, .address {
		.hilight_column
	}

}


/******** COMPANIES ************/
table.companies { 
	
	.basic_table;

	.company_name {
		.hilight_column
	}

}


/**************** PERSONS ********************/

table.persons {

	.basic_table;

	.name {
		.hilight_column;
	}

}


/******** REMINDERS ************/
table.reminders { 

	.basic_table;
	
	.reminder_date {
		.hilight_column
	}

	.sent {
		background-color: lightgray;
	}

}

/******** CURRENCIES ************/
table.currencies { 

	.basic_table;
	
	.currency_abbreviation {
		.hilight_column
	}

}

/******** CONTRACT TYPES ************/
table.contract_types { 

	.basic_table;
	
	.contract_type_name {
		.hilight_column
	}

}

/******** CONTRACTS ************/

table.contracts { 

	.basic_table;

	/***** Headers *****/
	thx { 
		color: white; 
		background-color: gray; 
		padding: 5px;
		background-repeat: no-repeat;
		background-position: center left;
	}

	th.headerSortUp { 
		background-image: url(/assets/images/asc.gif);
	}

	th.headerSortDown { 
		background-image: url(/assets/images/desc.gif);
	}

	th.contract_name { width: 12em; }
	th.cost { width: 4em; }
	th.currency { width: 3em; }
	th.location_code { width: 6.5em; }
	th.days_to_cancellation { width: 4em; }
	th.attention { width: 2em; }
	th.links {  }

	/***** Cells *****/

	.contract_id {
		.hilight_column
	}

	td.days-to-cancel { text-align: right; }

	td.blank-line {
		border: none;
		height: 20px;
	}

	td.contract-links {
		background-image: none !important;
		background-color: white;
	}

	td.billing-account {
		background-color: white;
	}

	td.attention {
		text-align: center;
		background-color: white;
	}

	/***** Rows *****/
	tr.ok {
		background-color: white;
	}

	tr.cancelled {
		color: white;
		background-color: DarkGray;
	}

	tr.far-warning {
		background-color: Orange;
	}

	tr.near-warning {
		background-color: Red;
	}

	tr.too-late {
		.too-late-background;
	}

	a.attention {

		color: red;
		font-size: xx-large;
		font-weight: bold;
		text-decoration: none;

		span { 
			visibility: hidden;
			position: absolute;
			left: -1000px;
			width: 33em;
			text-align: left;
			padding: 20px;
			color: black; 
			background: white;
			font-size: medium;
			font-weight: normal;
			border: 5px double black;
		}

		&:hover span { 
			left: 220px;
			visibility: visible;
		}

	}

}

/*
tbody.contacts tr:nth-of-type(odd) {
	background:Gainsboro;
}
*/



/******** CONTRACT SUMMARY ************/

#contract_summary {
	margin-bottom: 20px;
}

#contract_summary td {
  padding-right: 10px;
}

#contract_summary td:not(:first-child) {
	padding-left: 20px;
}


th.headerSortUp {
	background-color: red;
}
th.header {
}
th.headerSortDown {
	background-color: blue;
}

