tbody tr:nth-of-type(odd) {
	background:Gainsboro;
}

/* CONTRACT SUMMARY */

#contract_summary {
	margin-bottom: 20px;
}

#contract_summary td {
  padding-right: 10px;
}

#contract_summary td:not(:first-child) {
	padding-left: 20px;
}
