@(contractTypes: List[ContractType], contractTypeForm: Form[ContractType], error: Option[String])

@main("Contract Types", "Contract Types", "settings") {

	@error.map { errorString =>
		<div class="error-message">
			<p>@errorString</p>
		</div>
	}

	@if(contractTypes.isEmpty) {
		<h3>No contract types.</h3>
	} else {
		<table class="contract_types">
			<tr>
				<th class="contract_type_name">Name</th>
				<th><th>
			</tr>
			@contractTypes.map { contractType =>
				<tr>
					<td class="contract_type_name"> @contractType.name</td>
					<td><a class="edit_link" href="@routes.ContractTypes.edit(contractType.id)">edit</a>
					<a onClick="return confirmDelete()" class="delete_link" href="@routes.ContractTypes.delete(contractType.id)">delete</a></td>
				</tr>
			}
		</table>
	}

  @form_html(contractTypeForm, routes.ContractTypes.create, formLegend = "Create a new contract type")

}
