@(contracts: List[Contract], contractForm: Form[Contract])

@import helper._

@main("Contracts", "Contracts", "Contracts") {

	<table id="contract_list">
		<tr>
			<th class="contract_id">Contract Id</td>
			<th class="contract_name">Name</th>
			<th class="cost">MRC</th>
			<th class="cost">NRC</th>
			<th class="currency">Currency</th>
			<th class="location_code">Locations</th>
			<th class="links"></th>
		</tr>

		@contracts.map { contract =>
			<tr>
				<td class="contract_id">@contract.contractId</td>
				<td>@contract.name</td>
				<td>@contract.mrc</td>
				<td>@contract.nrc</td>
				<td>@Currency.stringById(contract.currencyId)</td>
				<td>@Location.codeById(contract.aEndId)<br/>
				@Location.codeById(contract.zEndId)</td>
				<td> 
					<a href="@routes.Contracts.viewContract(contract.id.get)">See details</a>
					@form(routes.Contracts.deleteContract(contract.id.get)) {
						<input type="submit" value="Delete">
					}
				</td>
			</tr>
		}
	</table>

	<p>

	<a href="@routes.Contracts.newContract">Add a new contract</a>

}
