@(currencies: List[Currency], currencyForm: Form[String])

@import helper._

@main("Currencies", "Currencies", "Settings") {

	@if(currencies.isEmpty) {
		<h3>No currencies.</h3>
	} else {
		<ul>
			@currencies.map { currency =>
				<li>
					@currency.label <a class="delete_link" href="@routes.Application.deleteCurrency(currency.id)">delete</a>
				</li>
			}
		</ul>
	}

	@form(routes.Application.newCurrency, 'class -> "form") {

	<h2>Add a new currency</h2>


	@inputText(currencyForm("label"), '_class -> "form", '_label -> "New currency abbreviation", 
	'_showConstraints -> false, 'size -> 3)

	<input type="submit" value="Create">

	}

}
