@(locations: List[Location], locationForm: Form[(String, String)])

@import helper._

@main("Locations", "Locations", "Settings") {

	<h3>@locations.size Locations</h3>

	<table class="locations">
		<tr>
			<th>Code</th>
			<th class="inner_display_column">Description</th>
			<th><th>
		</tr>
		@locations.map { location =>
			<tr>
				<td> @location.code</td>
				<td class="inner_display_column">@location.description</td>
				<td><a class="delete_link" href="@routes.Application.deleteLocation(location.id)">delete</a></td>
			</tr>
		}
	</table>

	@form(routes.Application.newLocation, 'class -> "form") {

	<h2>Add a new location</h2>

	@inputText(locationForm("code"), '_class -> "form", '_label -> "New location code", 
	'_showConstraints -> false, 'size -> 5)

	@textarea(locationForm("description"), '_class -> "form", '_label -> "Description", 
	'_showConstraints -> false, 'rows -> 2, 'cols -> 50)

	<input type="submit" value="Create">

	}

}
