@(rps: List[ReminderPerson])

@import helper._

@main("Reminder-Person", "Reminder-Person", "reminders") {

	@if(rps.isEmpty) {
	<h3>No reminders.</h3>
	} else {
	<table class="reminder-persons">
		<tr>
			<th>Reminder</th>
			<th class="inner_display_column">Person</th>
			<th><th>
				</tr>
				@rps.map { rp =>
				<tr>
					<td> @Reminder.findById(rp.reminderId).map(r => Contract.nameById(r.contractId)).getOrElse("")</td>
					<td class="inner_display_column">@Person.nameById(Some(rp.personId))</td>
					<td>
						<a onClick="return confirmDelete()" class="delete_link" href="@routes.ReminderPersons.delete(rp.reminderId, rp.personId)">delete</a></td>
				</tr>
				}
			</table>
			}

}
